URxvt*title:             urxvt
URxvt*termName:          rxvt-256color
URxvt*background:        #171717
URxvt*foreground:        #7e8082
URxvt*scrollBar:         false
URxvt*secondaryscroll:   true
URxvt*matcher.button:    1
URxvt*cursorBlink:       true
URxvt*cursorUnderline:   true
URxvt*cursorColor:       #868887
URxvt*colorBD:           #b4927d
!URxvt*colorUL:          #57956b
URxvt*internalBorder:    3

URxvt.transparent:       true
URxvt*allow_bold:        true
URxvt*depth:             24
URxvt*dynamicColors:     on

Xft*dpi:                 96
Xft*antialias:           false
Xft*hinting:             full

URxvt*mapAlert:          true
URxvt*visualBell:        true
URxvt*urgentOnBell:      true
URxvt*inheritPixmap:     true
!URxvt*tintColor:        #000000
URxvt*shading:           88


!Black
URxvt*color0:            #434343
URxvt*color8:            #5d5f5e
!Red
URxvt*color1:            #a16a71
URxvt*color9:            #c7838f
!Green
URxvt*color2:            #7aa16a
URxvt*color10:           #93c783
!Yellow
URxvt*color3:            #a1926a
URxvt*color11:           #c7b983
!Blue
URxvt*color4:            #6a80a1
URxvt*color12:           #839fc7
!Magenta
URxvt*color5:            #916aa1
URxvt*color13:           #c483c7
!Cyan
URxvt*color6:            #6aa0a1
URxvt*color14:           #83c7bc
!White
URxvt*color7:            #a8a8a8
URxvt*color15:           #cacac8
